


:root {
    --color-brand:#4D5AE5;
    --color-pressed-state:#404BBF;
    --color-primary: #2E2F42;
    --color-text: #434455;
    --color-primary-background: #E5E5E5;
    --color-white:#ffffff;
    --color-hairline:#E7E9FC;
    --color-background-light:#F4F4FD
}

body{

    color: var(--color-text);
    background-color:var(color-primary-background) ;
    font-family: roboto, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.header{
  background-color: var(color-white);
}

.logo {
    color: var(--color-primary);
    font-family: raleway, sans-serif;
        font-size: 18px;
        font-weight: 800;
        line-height: 1.33;
        letter-spacing: 0.03em;
        text-decoration: none;

}

.logo-web {

  color: var(--color-brand);
   font-family: raleway, sans-serif;
    font-size: 18px;
    font-weight: 800;
    line-height: 1.33;
}

.header-links {
        color: var(--color-primary);
                
        font-weight: 500;
         text-decoration: none;
               
}
.header-links:active {
  color: var(--color-pressed-state);
  text-decoration: underline;

}

/* active page */
 .current{
  color: var(--color-pressed-state);
}
      
.adress-link {
    color: var(--color-primary);    
    text-decoration: none;
}

   
   .adress-link:focus,
    :hover {

    color: var(--color-pressed-state);
    

 }
.heroe {
background-color: var(--color-primary);
}
.heroe-title {
  color: var(--color-white);
   font-size: 56px;
  font-weight: 700;
  line-height: 1.08;
  text-decoration: none;
}
ul {
    list-style-type: none;
}

.primary-button{
  color: var(--color-white);
  background-color: var(--color-brand);
        font-weight: 500;
        letter-spacing: 0.04em;
       text-decoration: none;
       text-transform: uppercase;
        border: 1px solid var(--color-brand);
       box-shadow: 0px 4px 4px;
      border-radius: 4px;
      cursor: pointer;

}
.primary-button:hover{
background-color:var(--color-pressed-state);

}
.features-section{
  background-color:var (--color-primary-background);
}

.features-title {
  color:var(--color-primary);
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    
}
.what-are-we-doing-section{
background-color: (--color-primary-background);
}

.secondary-title{
  color: var(--color-primary);
       font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
}
.what-are-we-doing-foto{
  
       border: 1px solid var(--color-cornflower);
   
   }
    

.team-section{
  background-color: var(--color-background-light);
}

.team-title{
  color:var(--color-primary);
        font-size: 36px;
    font-weight: 700;
    line-height: 1.08;
    
 }

      .name-team{
        color: var(--color-primary);
         font-size: 20px;
          font-weight: 600;
          line-height: 1.5;
          
      }

      .footer{
        background-color:var(--color-primary);
      }
      

      .logo-footer{
        color:var(--color-background-light);
          font-family: raleway, sans-serif;
          font-size: 18px;
          font-weight: 800;
          line-height: 1.33;
          text-decoration: none;
          
      }
     
            .web {
      
              color: var(--color-brand);
              font-family: raleway, sans-serif;
              font-size: 18px;
              font-weight: 800;
              line-height: 1.33;
            }


      .footer-text{
        color: var(--color-hairline);
         
      }

      /* Portfolio filter */
      
      .filter-button{
        color: var(--color-brand);
          background-color:var(--color-background-light);
          font-weight: 500;          
          letter-spacing: 0.04em;
          text-decoration: none;
          text-transform: uppercase;
          border: 1px solid var(--color-hairline);
          box-shadow: 0px 4px 4px;
          border-radius: 4px;
          cursor: pointer;
      }

            .filter-button:hover {
              color: var(--color-white);
              background-color:var(--color-pressed-state);
              box-shadow:  0px 3px 1px;
        
              /* portfolio-links */
        }
        .portfolio-foto{
          
          background-blend-mode: soft-light, normal;
        }

        .portfolio-title{
          color: var(--color-primary);
            
            font-size: 20px;
            font-weight: 500;           
            line-height: 1.2;            
            
        }

        .portfolio-text{
        color: var(--color-text);
          font-family: roboto, sans-serif;
            
           
        }





/* Header */
/* .header-link {
  color: var(--color-primary-inverted);
  font-size: 12px;
  line-height: 1.33;
  font-weight: 600;
  text-decoration: none;
} */ 

/* .header-link:hover {
  color: var(--color-brand);
}

.button-light {
  color: var(--color-primary-inverted);
  font-size: 12px;
  line-height: 1.33;
  font-weight: 600;
  text-transform: uppercase;
  background-color: transparent;
  border: 1px solid var(--color-brand);
  border-radius: 25px;
  cursor: pointer;
}

.button-light:hover {
  background-color: var(--color-brand);
}

/* Hero section */
/* .socials-link {
  color: var(--color-primary);
  text-decoration: none;
}

.socials-link:hover {
  color: var(--color-brand);
}

.hero-tagline {
  color: var(--color-secondary-transparent);
  font-size: 11px;
  line-height: 1.36;
  font-weight: 600;
}

.hero-title {
  font-family: 'Raleway', sans-serif;
  color: var(--color-primary-inverted);
  font-size: 72px;
  line-height: 1.16;
  font-weight: 700;
}

.hero-text {
  color: var(--color-secondary);
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
}

.carousel-button {
  color: var(--color-primary-inverted);
  font-size: 12px;
  line-height: 1.33;
  font-weight: 600;
  background: none;
  border: none;
  cursor: pointer;
} */ 

/* .carousel-button[disabled] {
  color: var(--color-secondary-transparent);
  cursor: not-allowed; */
/* }

/* About section */
