
@font-face {
    font-display: swap;    
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 800;
    src: url('../fonts/raleway-v28-latin-800.woff2') format('woff2'),
       
        url('../fonts/raleway-v28-latin-800.woff') format('woff');

       
            @font-face {
                font-display: swap;
                
                font-family: 'Roboto';
                font-style: normal;
                font-weight: 400;
                src: url('../fonts/roboto-v30-latin-regular.woff2') format('woff2'),
                    
                    url('../fonts/roboto-v30-latin-regular.woff') format('woff');
                
            }
        
            
            @font-face {
                font-display: swap;
                
                font-family: 'Roboto';
                font-style: normal;
                font-weight: 500;
                src: url('../fonts/roboto-v30-latin-500.woff2') format('woff2'),
                   
                    url('../fonts/roboto-v30-latin-500.woff') format('woff');
                
            }
        
           
            @font-face {
                font-display: swap;
                
                font-family: 'Roboto';
                font-style: normal;
                font-weight: 700;
                src: url('../fonts/roboto-v30-latin-700.woff2') format('woff2'),
                   
                    url('../fonts/roboto-v30-latin-700.woff') format('woff');
               
            }
    
}

:root {
    --color-brand:#4D5AE5;
    --color-pressed-state:#404BBF;
--color-primary: #2E2F42;
--color-second-primary: #FFFFFF;
--color-text:#434455;
}

body{

color:#434455;;
    background-color:#E5E5E5 ;
    font-family: roboto, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
}

.header{
  background-color: #FFFFFF;
}

.logo {
    color :#2E2F42;
    font-family: raleway, sans-serif;
        font-size: 18px;
        font-weight: 800;
        line-height: 1.33;

}

.web {

  color:#4D5AE5;
   font-family: raleway, sans-serif;
    font-size: 18px;
    font-weight: 800;
    line-height: 1.33;
}

.header-links {
        color: #2E2F42;
        font-family: roboto, sans-serif;
        font-size: 16px;
        font-weight: 600;
                line-height: 1.5;
        text-decoration: none;
        
        
}
.header-links:active {
    color:#404BBF;    
    text-decoration: underline;
}

.adress-link {
    color: #434455;
    font-family: roboto, sans-serif;
        font-size: 16px;
        font-weight: 400;
        line-height: 1.5;
        text-decoration: none;
}

   .adress-link:active {

    color: #404BBF;
    text-decoration: underline;

 }
.heroe {
background-color: #2E2F42;
}
.heroe-title {
color: #FFFFFF;
 font-family: roboto, sans-serif;
  font-size: 56px;
  font-weight: 700;
  line-height: 1.08;
  text-decoration: none;
}
ul {
    list-style-type: none;
}

.primary-button{
  color: #FFFFFF;
  background-color:#4D5AE5; ;
    font-family: roboto, sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    text-decoration: none;
    text-transform: uppercase;
            border: 1px solid #4D5AE5;
            box-shadow: 0px 4px 4px;
      border-radius: 4px;
      cursor: pointer;

}
.primary-button:hover{
background-color:#404BBF;

}
.features-section{
  color:#E5E5E5;
}

.features-heading {
  color: #2E2F42;
    font-family: roboto, sans-serif;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    font-weight: bold;
}
.what-are-we-doing-section{
background-color: #E5E5E5;
}

.secondary-header{
  color: #2E2F42;
    font-family: roboto, sans-serif;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
}
.foto-monitor{
  
       border: 1px solid #E7E9FC;
   
   }
    
.many-massenges {
  border: 1px solid #E7E9FC;
}
.foto-mobile-with-nootbook{
  border: 1px solid #E7E9FC;
}

.team-section{
  background-color: #F4F4FD;
}

.team-title{
  color: #2E2F42;
    font-family: roboto, sans-serif;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.08;
    
 }

      .name-team{
        color: #2E2F42;
          font-family: roboto, sans-serif;
          font-size: 20px;
          font-weight: 600;
          line-height: 1.5;
          
      }

      .footer{
        background-color:#2E2F42;
      }

      .logo-footer{
        color: #F4F4FD;
          font-family: raleway, sans-serif;
          font-size: 18px;
          font-weight: 800;
          line-height: 1.33;
      }
      .footer-text{
        color: #E7E9FC;
         
      }

      /* Portfolio filter */
      
      .filter-button{
        color: #4D5AE5;
          background-color:#F4F4FD;
          
          font-family: roboto, sans-serif;
          font-size: 16px;
          font-weight: 500;
          line-height: 1.5;
          text-decoration: none;
          text-transform: uppercase;
          border: 1px solid #E7E9FC;
          box-shadow: 0px 4px 4px;
          border-radius: 4px;
          cursor: pointer;
      }

            .filter-button:hover {
              color: #FFFFFF;
              background-color: #404BBF;
              box-shadow:  0px 3px 1px;
        
              /* portfolio-links */
        }
        .portfolio-foto{
          color: #4D5AE51A;
          background-blend-mode: soft-light, normal;
        }

        .portfolio-title{
          color: #2E2F42;
            font-family: roboto, sans-serif;
            font-size: 20px;
            font-weight: 500;
            letter-spacing: 2%;
            line-height: 1.2;            
            
            
        }





/* Header */
/* .header-link {
  color: var(--color-primary-inverted);
  font-size: 12px;
  line-height: 1.33;
  font-weight: 600;
  text-decoration: none;
} */ 

/* .header-link:hover {
  color: var(--color-brand);
}

.button-light {
  color: var(--color-primary-inverted);
  font-size: 12px;
  line-height: 1.33;
  font-weight: 600;
  text-transform: uppercase;
  background-color: transparent;
  border: 1px solid var(--color-brand);
  border-radius: 25px;
  cursor: pointer;
}

.button-light:hover {
  background-color: var(--color-brand);
}

/* Hero section */
/* .socials-link {
  color: var(--color-primary);
  text-decoration: none;
}

.socials-link:hover {
  color: var(--color-brand);
}

.hero-tagline {
  color: var(--color-secondary-transparent);
  font-size: 11px;
  line-height: 1.36;
  font-weight: 600;
}

.hero-title {
  font-family: 'Raleway', sans-serif;
  color: var(--color-primary-inverted);
  font-size: 72px;
  line-height: 1.16;
  font-weight: 700;
}

.hero-text {
  color: var(--color-secondary);
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
}

.carousel-button {
  color: var(--color-primary-inverted);
  font-size: 12px;
  line-height: 1.33;
  font-weight: 600;
  background: none;
  border: none;
  cursor: pointer;
} */ 

/* .carousel-button[disabled] {
  color: var(--color-secondary-transparent);
  cursor: not-allowed; */
/* }

/* About section */
